[Unit]
Description=Smart Parking System Server

[Service]
Type=simple
User=root
Group=root
StartLimitBurst=0
WorkingDirectory=/var/sps
ExecStart=/usr/bin/node /var/sps/main.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
