.table__container {
    border: none;
    width: 380px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tableBody {
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: calc(100% - 2px);
}

.tableBody::-webkit-scrollbar {
    display: none;
}

table {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    border-collapse: collapse;
}

thead {
    background-color: #313131;
    opacity: 0.79;
    text-align: center;
}

.tableHead {
    position: sticky;
    top: 0;
    z-index: 2;
}

.tableBody {
    overflow-y: scroll;
    z-index: 1;
    position: relative;
    max-height: 30vh;
}

td {
    background-color: #505B64;
    opacity: 0.73;
    text-align: left;
    width: 100%;
    border-bottom: 2px solid #ffffff;
}

th {
    background-color: #313131;
    opacity: 0.79;
    border-bottom: 2px solid #ffffff;
    text-align: center;
    width: 100%;
}

td,
th {
    padding: 10px;
}

.stat {
    padding: 0px 40px;
}

.num {
    border-right: #ffffff 2px solid;
}

td {
    padding-right: 80px;
}

@media screen and (max-width: 600px) {
    .table__container {
        width: 300px;
    }
    .stat {
        padding: 0px 30px;
    }
    td {
        padding: 10px 15px;
    }
}
